packaging_format = 2

id = "bookwyrm"
name = "BookWyrm"
description.en = "Platform for social reading"
description.fr = "Plateforme de lecture sociale"

version = "0.6.6~ynh1"

maintainers = ["oufmilo"]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://joinbookwyrm.com/fr/"
demo = "https://joinbookwyrm.com/fr/"
admindoc = "https://docs.joinbookwyrm.com/"
code = "https://github.com/bookwyrm-social/bookwyrm"
cpe = "cpe:2.3:a:joinbookwyrm:bookwyrm"
fund = ["https://patreon.com/bookwyrm", "https://opencollective.com/bookwyrm"]

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = false
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["de-de", "en-us", "es-es", "fr-fr", "it-it", "pt-pt", "zh-hans"]
    default = "fr-fr"

    [install.admin]
    type = "user"

[resources]
    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/bookwyrm-social/bookwyrm/archive/refs/tags/v0.6.6.tar.gz"
        sha256 = "e19b802e5ebcbaeb979f174f8f7fbd23690acee9000468a48016118257df5939"

        autoupdate.strategy = "latest_github_tag"


    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 8000

    [resources.apt]
    packages = "postgresql, postgresql-contrib, python3-venv, libpq-dev, python3-pip, python3-dev, libpq-dev"

    [resources.database]
    type = "postgresql"
