packaging_format = 2

id = "bookwyrm"
name = "BookWyrm"
description.en = "Platform for social reading"
description.fr = "Plateforme de lecture sociale"

version = "0.8.3~ynh1"

maintainers = ["oufmilo"]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://joinbookwyrm.com/fr/"
demo = "https://joinbookwyrm.com/fr/"
admindoc = "https://docs.joinbookwyrm.com/"
code = "https://github.com/bookwyrm-social/bookwyrm"
cpe = "cpe:2.3:a:joinbookwyrm:bookwyrm"

[integration]
yunohost = ">= 11.2.30"
helpers_version = "2.1"
architectures = "all"
multi_instance = false
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["de-de", "en-us", "es-es", "fr-fr", "it-it", "pt-pt", "zh-hans"]
    default = "fr-fr"

    [install.admin]
    type = "user"

[resources]
    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/bookwyrm-social/bookwyrm/archive/refs/tags/v0.8.3.tar.gz"
        sha256 = "892f4fbfc51b65b872c3b65e4adb24938ac886392786a47cf0cfee48deede6c6"
        autoupdate.strategy = "latest_github_release"

        [resources.sources.fonts]
        url = "https://github.com/adobe-fonts/source-han-sans/releases/download/2.005R/02_SourceHanSans-VF.zip"
        sha256 = "e5944ea7253878409232f1ffad464e9e93879c0207eaf2960bba327eef89ed81"
        in_subdir=true
        #autoupdate.strategy = "latest_github_release"
        #autoupdate.upstream = "https://github.com/adobe-fonts/source-han-sans"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 8000

    [resources.apt]
    packages = "postgresql, postgresql-contrib, python3, python3-venv, libpq-dev, python3-pip, python3-dev, libpq-dev, redis-server"

    [resources.database]
    type = "postgresql"
